.about {
    border-top: 1px solid var(--color-border);
}

.about__content {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: var(--space-8);
}

.about__label {
    align-self: start;
}

.about__eyebrow {
    margin-bottom: var(--space-3);
    color: var(--color-accent);
    font-size: var(--fs-400);
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.about__main {
    max-width: 800px;
}

.about__title {
    margin-bottom: var(--space-7);

    font-size: clamp(2rem, 4vw, 3.5rem);
    line-height: 1.05;
    letter-spacing: -0.04em;
}

/* .about__text {
    max-width: 700px;
} */

.about__text p {
    margin-bottom: var(--space-5);

    color: var(--color-text-secondary);
    font-size: var(--fs-500);
    line-height: 1.7;
}

.about__text p:hover {
    border-left: 2px solid orange;
    padding: 0 3px 0 5px;
    cursor: grab;
    font-style: italic;
    border-radius: 20px;
    box-shadow: inset -5px 0px 6px var(--color-accent),
        inset 1px 0px 5px orange;
}

.about__text p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .about__content {
        grid-template-columns: 1fr;
        gap: var(--space-5);
    }

    .about__main {
        max-width: 650px;
    }

    .about__title {
        margin-bottom: var(--space-6);
    }
}