.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: rgba(17, 17, 17, 0.9);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--color-border);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--navbar-height);
}

.navbar__logo {
  transition: var(--transition);
  border-bottom: 4px dotted transparent;
  border-radius: 20px;
}

.navbar__logo:hover {
  opacity: 50%;
}

.navbar__links {
  display: flex;
  gap: var(--space-5);
}

.navbar__links a {
  color: var(--color-text-secondary);

  transition: var(--transition);
  border-bottom: 4px dotted transparent;
}

.navbar__links a:hover {
  color: var(--color-text);
  border-bottom: 2px solid orange;
  border-left: 3px solid var(--color-accent);
  padding-left: 2px;
  border-radius: 5px 5px 0;
  font-style: italic;
  box-shadow: -3px 0 2px var(--color-accent);
}

.navbar__links a.active {
  color: var(--color-text);
  border-bottom: 2px solid orange;
  border-left: 3px solid var(--color-accent);
  padding-left: 2px;
  border-radius: 5px 5px 0;
  font-style: italic;
  box-shadow: -3px 0 2px var(--color-accent);
}

@media (max-width: 768px) {
  .navbar__links {
    gap: var(--space-4);
  }
}